.vs/
bin/
obj/
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache

# ReSharper
_ReSharper*/
*.ReSharper

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
*.dbmdl
*.jfm

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json